<div id="calendar" class="col-8"></div>

<div id="diary" class="col-4 d-flex flex-column">
    <!-- Post 버튼 -->
    <button class="btn post-button" id="openModalButton" type="button"
            data-bs-toggle="modal" data-bs-target="#inputModal"
            title="단축키: /">Post</button>
            
    <!-- chat-box -->
    <div class="chat-box rounded mt-2">
        <div id="messageContainer" class="message-container"></div>
    </div>

    <!-- 검색 섹션 -->
    <div class="search-container mt-2">
        <div class="search-bar">
            <span class="search-icon">🔍</span>
            <input type="text" id="searchInput" class="search-input" placeholder="Search messages or tags" aria-label="Search">
        </div>
    </div>
</div>