.options-button {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    cursor: pointer;
    font-size: var(--font-size-large);
    color: var(--light-gray);
}

.options-button:hover {
    color: var(--light-text);
}

.dropdown-menu {
    font-size: 0.875rem;
    border-color: var(--main-color);
}

.dropdown-item {
    padding: 0.5rem 1rem;
    color: var(--dark-text);
}

.dropdown-item:hover {
    background-color: var(--hover-bg);
    color: var(--hover-color);
}