.navbar-brand {
    font-size: 1rem;
    padding: 0.25rem 0;
    color: var(--main-color) !important;
}

.navbar-email {
    color: var(--main-color) !important;
}

.navbar-nav .nav-link {
    padding: 0.5rem 0.75rem;
    color: var(--light-text);
}

.navbar-toggler {
    padding: 0.25rem 0.5rem;
    background-color: var(--main-color);
}

.dropdown-menu-config {
    position: absolute !important;
    left: 0 !important;
    transform: translate(-80%, 0) !important;
    margin-top: 0.1rem !important;
}