:root {
    --main-color: #48c9b0;
    --dark-text: #2c3e50;
    --light-text: #ffffff;
    --hover-color: #357a38;

    --gray-color: #333333;
    --dark-gray: #444444;
    --light-gray: #888888;
    --very-light-gray: #dddddd;

    --dark-bg: #2c3e50;
    --light-bg: #f8f9fa;
    --hover-bg: #e0f7f1;
    --secondary-color: #6c757d;
    --muted-text: #6c757d;
    --highlight-color: #007bff;

    --accent-color: #1DA1F2;

    --danger-color: #ff4d4d;
    --danger-hover-color: #772525;

    --message-bg-color: #3a506b;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --accent-shadow-color: rgba(29, 161, 242, 0.5);

    --font-size-small: 12px;
    --font-size-medium: 14px;
    --font-size-regular: 16px;
    --font-size-large: 18px;

    --padding-base: 10px;
    --border-radius-base: 5px;
}

a {
    text-decoration: none;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    text-decoration: none;
    color: var(--dark-text);
}

.fc .fc-daygrid-day-number {
    padding: 4px;
    position: relative;
    z-index: 4;
    text-decoration: none;
    color: var(--dark-text);
}

.fc {
    font-size: 0.9em;
}

.fc .fc-button .fc-icon {
    font-size: 1em;
    vertical-align: middle;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 10px;
}

.fc .fc-toolbar-title {
    font-size: 1.4em;
    margin: 0px;
    color: var(--dark-text);
}

.fc-button, .fc-toolbar-chunk button {
    background-color: var(--main-color);
    color: var(--light-text);
    border: none;
}

.fc-event {
    color: var(--gray-color);
}

.fc-daygrid-body {
    color: var(--gray-color);
}

.fc-button:hover, .fc-toolbar-chunk button:hover {
    background-color: var(--hover-color);
}

.fc-list-empty-cushion {
    color: var(--gray-color);
}

.fc-timegrid-slot-label {
    color: var(--gray-color);
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
    background: transparent;
}
.color-option {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 50%;
}
.color-option.selected {
    border-color: #000; /* 선택된 색상 표시 */
}

/* diary */

.emoji-selector {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.emoji-icon {
    font-size: var(--font-size-large);
}

.emoji-dropdown {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    background-color: var(--dark-gray);
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 4px 8px var(--shadow-color);
}

.emoji-dropdown.show {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.emoji-option {
    font-size: var(--font-size-large);
    cursor: pointer;
}

.tag-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    font-size: var(--font-size-medium);
    color: var(--main-color);
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 100%;
    overflow: hidden;
}

.tag-input {
    border: none;
    outline: none;
    background-color: var(--dark-bg);
    color: var(--light-text);
    font-size: var(--font-size-medium);
    padding: 5px;
    flex-grow: 1;
}

.tag {
    background-color: var(--main-color);
    color: var(--light-text);
    padding: 3px 8px;
    border-radius: 12px;
    font-size: var(--font-size-small);
    display: inline-flex;
    align-items: center;
    margin-top: 5px;
}

.tag-icon {
    margin-right: 5px;
    color: var(--main-color);
    font-size: var(--font-size-large);
    font-weight: bold;
}

.remove-tag {
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}

.chat-container {
    max-width: 100%;
    width: 100%;
    padding: 15px;
    margin: auto;
    background-color: var(--dark-bg);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.input-section {
    display: flex;
    align-items: center;
}

.chat-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--dark-bg);
    color: var(--light-text);
    font-size: var(--font-size-large);
}

.chat-input::placeholder {
    color: var(--light-gray);
}

.icon-button-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.icon-container {
    display: flex;
    gap: 15px;
}

.icon {
    color: var(--main-color);
    font-size: var(--font-size-large);
    cursor: pointer;
}

.chat-box {
    background-color: var(--dark-bg);
    border: 1px solid var(--main-color);
    overflow-y: scroll;
}

.chat-box::-webkit-scrollbar {
    display: none;
}

.date-section {
    text-align: center;
    margin: 15px 0;
}

.date-label {
    display: inline-block;
    background-color: var(--dark-gray);
    color: var(--very-light-gray);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: var(--font-size-small);
}

.message-bubble {
    position: relative; /* Ensures child elements like the menu are positioned correctly */
}

.message-bubble.sent {
    background-color: var(--message-bg-color);
    padding: var(--padding-base);
    color: var(--light-text);
    font-size: var(--font-size-medium);
    border-radius: var(--border-radius-base);
    margin: 7px 0;
    text-align: left;
    display: flex;
    align-items: center;
}

.message-content {
    flex-grow: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.message-content p {
    margin-bottom: 0px;
}

.delete-message {
    cursor: pointer;
    font-size: var(--font-size-medium);
    color: var(--light-gray);
    margin-left: 10px;
}

.delete-message:hover {
    color: var(--danger-color);
}

.message small {
    display: block;
    text-align: right;
    color: var(--light-gray);
    margin-top: 5px;
    font-size: var(--font-size-small);
}

.message-list {
    padding: 5px 15px;
}

.search-bar {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--dark-bg);
    border: 1px solid var(--main-color);
    border-radius: 20px;
    padding: 5px 15px;
}

.search-icon {
    font-size: var(--font-size-medium);
    color: var(--main-color);
    margin-right: 10px;
}

.search-input {
    width: 100%;
    font-size: var(--font-size-medium);
    background-color: transparent;
    color: var(--light-text);
    border: none;
    outline: none;
}

.search-input::placeholder {
    color: var(--light-gray);
}

.search-bar:focus-within {
    box-shadow: 0 0 8px var(--accent-shadow-color);
}

/* intro */
.jumbotron-section {
    background-color: #e0f2ff;
    padding: 3rem 0;
}

.icon-large {
    font-size: 2rem;
    margin-bottom: 15px;
}

/* Image styling to match video aspect ratio */
.video-aspect-ratio {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.navbar-brand {
    font-size: 1rem;
    padding: 0.25rem 0;
    color: var(--main-color) !important;
}

.navbar-email {
    color: var(--main-color) !important;
}

.navbar-nav .nav-link {
    padding: 0.5rem 0.75rem;
    color: var(--light-text);
}

.navbar-toggler {
    padding: 0.25rem 0.5rem;
    background-color: var(--main-color);
}

/* Widget */
#tabHeader .nav-item {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 0.9em;
    z-index: 1001;
}

#tabHeader .nav-link {
    color: var(--light-text);
    background-color: var(--secondary-color);
    border: 0px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

#tabHeader .nav-link.active {
    color: var(--light-text);
    background-color: var(--main-color);
    border-color: var(--main-color);
}

#tabHeader .nav-link:hover {
    background-color: var(--main-color);
    color: var(--light-text);
}

#tabHeader .nav-link .btn-close {
    margin-left: 10px;
    filter: invert(1);
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

#tabHeader .nav-link .btn-close:hover {
    opacity: 1;
}

/* 셀 내용 중앙 정렬 */
.tabulator-cell {
    text-align: center;
}

/* 헤더 셀 중앙 정렬 */
.tabulator-header .tabulator-col {
    text-align: center;
}

/* 아이콘 버튼 스타일 */
.icon-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px;
    color: #0d6efd;
    margin-right: 10px;
}
.icon-button:hover {
    color: #0056b3;
}

/* 버튼 행 스타일 */
.button-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}