:root {
    --main-color: #48c9b0;
    --dark-text: #2c3e50;
    --light-text: #ffffff;
    --hover-color: #357a38;

    --gray-color: #333333;
    --dark-gray: #444444;
    --light-gray: #888888;
    --very-light-gray: #dddddd;

    --dark-bg: #2c3e50;
    --light-bg: #f8f9fa;
    --hover-bg: #e0f7f1;
    --secondary-color: #6c757d;
    --muted-text: #6c757d;
    --highlight-color: #007bff;

    --accent-color: #1DA1F2;

    --danger-color: #ff4d4d;
    --danger-hover-color: #772525;

    --message-bg-color: #3a506b;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --accent-shadow-color: rgba(29, 161, 242, 0.5);

    --font-size-small: 12px;
    --font-size-medium: 14px;
    --font-size-regular: 16px;
    --font-size-large: 18px;

    --padding-base: 10px;
    --border-radius-base: 5px;
}

a {
    text-decoration: none;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    text-decoration: none;
    color: var(--dark-text);
}

.fc .fc-daygrid-day-number {
    padding: 4px;
    position: relative;
    z-index: 4;
    text-decoration: none;
    color: var(--dark-text);
}

.fc {
    font-size: 0.9em;
}

.fc .fc-button .fc-icon {
    font-size: 1em;
    vertical-align: middle;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 10px;
}

.fc .fc-toolbar-title {
    font-size: 1.4em;
    margin: 0px;
    color: var(--dark-text);
}

.fc-button, .fc-toolbar-chunk button {
    background-color: var(--main-color);
    color: var(--light-text);
    border: none;
}

.fc-event {
    color: var(--gray-color);
}

.fc-daygrid-body {
    color: var(--gray-color);
}

.fc-button:hover, .fc-toolbar-chunk button:hover {
    background-color: var(--hover-color);
}

.fc-list-empty-cushion {
    color: var(--gray-color);
}

.fc-timegrid-slot-label {
    color: var(--gray-color);
}

/* intro */
.jumbotron-section {
    background-color: #e0f2ff;
    padding: 3rem 0;
}

.icon-large {
    font-size: 2rem;
    margin-bottom: 15px;
}

/* Widget */
#tabHeader .nav-item {
    font-size: 0.9em;
    z-index: 1001;
}

#tabHeader .nav-link {
    color: var(--light-text);
    background-color: var(--secondary-color);
    border: 0px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

#tabHeader .nav-link.active {
    color: var(--light-text);
    background-color: var(--main-color);
    border-color: var(--main-color);
}

#tabHeader .nav-link:hover {
    background-color: var(--main-color);
    color: var(--light-text);
}

#tabHeader .nav-link .btn-close {
    margin-left: 10px;
    filter: invert(1);
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

#tabHeader .nav-link .btn-close:hover {
    opacity: 1;
}

/* 셀 내용 중앙 정렬 */
.tabulator-cell {
    text-align: center;
}

/* 헤더 셀 중앙 정렬 */
.tabulator-header .tabulator-col {
    text-align: center;
}
/* 버튼 행 스타일 */
.button-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.no-caret::after {
    display: none !important;
}