.record-button,
.record-button:focus,
.record-button:active {
   border: none !important;
   padding: 5px 16px !important;
   border-radius: 20px !important;
   background-color: var(--main-color) !important;
   font-size: var(--font-size-regular) !important;
   color: var(--light-text) !important;
   box-shadow: none !important;
   outline: none !important;
}

.record-button:hover {
   color: var(--dark-text) !important;
}

.emoji-selector {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.emoji-icon {
    font-size: var(--font-size-large);
}

.emoji-dropdown {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    background-color: var(--dark-gray);
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 4px 8px var(--shadow-color);
}

.emoji-dropdown.show {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.emoji-option {
    font-size: var(--font-size-large);
    cursor: pointer;
}

.tag-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    font-size: var(--font-size-medium);
    color: var(--main-color);
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 100%;
    overflow: hidden;
}

.tag-input {
    border: none;
    outline: none;
    background-color: var(--dark-bg);
    color: var(--light-text);
    font-size: var(--font-size-medium);
    padding: 5px;
    flex-grow: 1;
}

.tag {
    background-color: var(--main-color);
    color: var(--light-text);
    padding: 3px 8px;
    border-radius: 12px;
    font-size: var(--font-size-small);
    display: inline-flex;
    align-items: center;
    margin-top: 5px;
}

.tag-icon {
    margin-right: 5px;
    color: var(--main-color);
    font-size: var(--font-size-large);
    font-weight: bold;
}

.remove-tag {
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}

.input-section {
    display: flex;
    align-items: center;
}

.chat-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--dark-bg);
    color: var(--light-text);
    font-size: var(--font-size-large);
}

.chat-input::placeholder {
    color: var(--light-gray);
}

.icon-button-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.icon-container {
    display: flex;
    gap: 15px;
}

.icon {
    color: var(--main-color);
    font-size: var(--font-size-large);
    cursor: pointer;
}

.chat-box {
    background-color: var(--dark-bg);
    overflow-y: scroll;
    position: relative;
}

.chat-box::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: linear-gradient(to top, var(--dark-bg), rgba(0, 0, 0, 0));
}

.chat-box::-webkit-scrollbar {
    display: none;
}

.date-section {
    text-align: center;
    margin-top: 15px;
}

.date-label {
    display: inline-block;
    background-color: var(--dark-gray);
    color: var(--very-light-gray);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: var(--font-size-small);
}

.message-bubble {
    position: relative; /* Ensures child elements like the menu are positioned correctly */
}

.message-bubble.sent {
    background-color: var(--message-bg-color);
    padding: var(--padding-base);
    color: var(--light-text);
    font-size: var(--font-size-medium);
    border-radius: var(--border-radius-base);
    margin: 7px 0;
    text-align: left;
    display: flex;
    align-items: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all; /* 추가: 글자 단위 줄바꿈 */
}

.message-content {
    flex-grow: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.message-content p {
    margin-bottom: 0px;
}

.message-content small {
    display: flex;
    align-items: center;
}

.delete-message {
    cursor: pointer;
    font-size: var(--font-size-medium);
    color: var(--light-gray);
    margin-left: 10px;
}

.delete-message:hover {
    color: var(--danger-color);
}

.message small {
    display: block;
    text-align: right;
    color: var(--light-gray);
    margin-top: 5px;
    font-size: var(--font-size-small);
}

.message-list {
    padding: 5px 15px;
}

.search-bar {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--dark-bg);
    border-radius: 20px;
    padding: 5px 15px;
}

.search-icon {
    font-size: var(--font-size-medium);
    color: var(--main-color);
    margin-right: 10px;
}

.search-input {
    width: 100%;
    font-size: var(--font-size-medium);
    background-color: transparent;
    color: var(--light-text);
    border: none;
    outline: none;
}

.search-input::placeholder {
    color: var(--light-gray);
}

.search-bar:focus-within {
    box-shadow: 0 0 8px var(--accent-shadow-color);
}

.options-button {
    display: none;
    cursor: pointer;
    font-size: var(--font-size-large);
    color: var(--light-gray);
}

.options-button:hover {
    color: var(--light-text);
}

.dropdown-menu {
    font-size: 0.875rem;
    border-color: var(--main-color);
}

.dropdown-item {
    padding: 0.5rem 1rem;
    color: var(--dark-text);
}

.dropdown-item:hover {
    background-color: var(--hover-bg);
    color: var(--hover-color);
}